@import "tailwindcss";

:root {
  --bg: #1a202c;
  --fg: #ffffff;
}

@theme inline {
  --color-background: var(--bg);
  --color-foreground: var(--fg);
  --font-nunito: var(--font-nunito-sans);
}

body {
  @apply text-foreground bg-background font-nunito;
}