[Unit]
Description=TanStack Service (Rhythm Place)
After=network.target

[Service]
Type=simple
User=nginx
WorkingDirectory=/var/www/rhythm.place
ExecStart=/home/nginx/.local/share/pnpm/pnpm run start
Restart=on-failure

[Install]
# start the app automatically
WantedBy=multi-user.target