[Unit]
Description=Rhythm Place Service
After=network.target

[Service]
Type=simple
User=nginx
WorkingDirectory=/var/www/rhythm-place
ExecStart=/home/nginx/.bun/bin/bun run start
Restart=always

[Install]
WantedBy=multi-user.target