@import "tailwindcss";

:root {
  --background: #0A0A0A;
  --foreground: #e0e0e0;
  --primary: #1db954;
  --secondary: #191414;
  --tertiary: #282828;
}

@theme {
  --background-color: var(--background);
  --foreground-color: var(--foreground);
  --primary-color: var(--primary);
  --secondary-color: var(--secondary);  
  --tertiary-color: var(--tertiary);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Helvetica Neue', Arial, sans-serif;
}